.header,.footer,.content {
  color: #fff;
}
.header {
  background: #fff;
  margin-bottom: 3px;
}
.title {
  float: left;
  display: inline-block;
}
.content {
  color: #333;
  text-align: center;
  background: #7dbcea;
}
.item {
  height: 300px;
  padding: 4px;
  margin-top: 4px;
  border: 6px solid #7dbcea;
  background: #f4f4f4;
}
.footer {
  text-align: center;
  background: rgba(16, 142, 233, 1);
}
.footer a {
  color: #ccc;
}
