.header,.footer,.content {
  text-align: center;
  color: #fff;
  background: rgba(16, 142, 233, 1);
}
.content {
  color: #333;
  background: #7dbcea;
}
.item {
  height: 300px;
  padding: 4px;
  border: 1px solid #ccc;
  background: #f4f4f4;
}
.footer a {
  color: #ccc;
}
