.container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 60px;
  /*GPU加速*/
  transform: translateZ(0);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 60px;
}
.transform {
  display: block;
  width: 4em;
  height: 4em;
  text-align: center;
  margin: 0 auto 1em;
  border: 1.5em solid;
  color: yellowgreen;
  box-sizing: border-box;
  animation: transformloading 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes transformloading {
  0% {
    color: #333;
    transform: rotate(0turn);
  }
  33% {
    border-radius: 50%;
  }
  50% {
    border-radius: 50%;
    border-width: .3em;
  }
  66% {
    color: deeppink;
  }
  100% {
    transform: rotate(1turn);
  }
}
